<% include partials/header %>

<div id="result_list_display" >
  <div class="list_container">
    <h1>Restaurant Results</h1>
    
    <% restaurants["businesses"].forEach(function(restaurant) { %>
      <div class="single_restaur">
        <div class="restaur_img_block">
          <img src="<%= restaurant["image_url"] %>">
        </div>
        
        <div class="restaur_name"><%= restaurant["name"] %></div>
        <div class="restaur_stars"><%= restaurant["rating"] %></div>
      </div>
      
      <div></div>
    <% }) %> 
  </div>
</div>

<div id="map_half">
  <div id="map"></div>     
</div>

<script>
var markers = [];

function initMap() {
  var uluru = {
          lat: <%= restaurants["businesses"][0]["coordinates"]["latitude"] %>,
          lng: <%= restaurants["businesses"][0]["coordinates"]["longitude"] %>
  };     

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: uluru
  });

  <% restaurants["businesses"].forEach(function(restaurant) { %>
    var latLng = {lat: <%= restaurant["coordinates"]["latitude"] %>,
                  lng: <%= restaurant["coordinates"]["longitude"] %>
    };
    
    var marker = new google.maps.Marker({
        position: latLng,
        map: map
    });
    
    markers.push(marker);
        
  <% }) %> 
  
  var selector = document.getElementsByClassName('single_restaur');
  for(var i = 0; i < selector.length; i++) {
    var index = selector[i] //get the nth-child number here
    if(index){
      //index.addEventListener("mouseover", func.bind(i));
      //index.addEventListener("mouseout", func2.bind(i));
    }
  }
      
} // end of initMap


function func() { 
  var i = this;
   markers[i].setAnimation(google.maps.Animation.BOUNCE);
}

function func2() { 
  var i = this;
  markers[i].setAnimation(null);
}


</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOBevkDWetQuaXUUlRZFGgkSdYrlDUuhk&callback=initMap">
</script>


<% include partials/footer %>