<% include partials/header %>

<% if (restaurants["businesses"].length > 0) { %>
<div id="list_and_map">

<!-- display of whole list -->
<div id="result_list_display" >
  <div class="list_container">
    <h1>Restaurant Results</h1>
    
    <% restaurants["businesses"].forEach(function(restaurant) { %>
      <div class="single_restaur">
        <div class="restaur_img_block">
          <img src="<%= restaurant["image_url"] %>">
        </div>
        
        <div class="restaur_name"><a href="<%= restaurant["url"] %>"><%= restaurant["name"] %></a></div>
        <div style="overflow: hidden; padding-bottom: 0.4em">
          <% var catCnt = 0 %>
          <% restaurant["categories"].forEach(function(cate) { %>
            <% catCnt++; if (catCnt <= 3) { %>
            <span class="label label-primary"><%= cate["alias"] %></span>
            <% } %>
          <% }) %>
        </div>
        
        <div class="restaur_stars">
          <% for (var i = 0; i < 5; i++) { %>
            <% if (restaurant["rating"] <= i) { %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% } else if (restaurant["rating"] == i + 0.5) { %>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <% } else { %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% } %>
          <% } %>
        </div>
      </div>
      
      <div></div>
    <% }) %> 
  </div>
</div>

<!-- display of random restaurant -->
<script>
  //var curr_idx = 0;
        
  function next_part() {
      restaurant_parts[rnd_idx_list[curr_idx]].style.display="none";
    
      curr_idx++;
      if (curr_idx == restaurant_parts.length) curr_idx = 0;
      
      restaurant_parts[rnd_idx_list[curr_idx]].style.display="inline";
  }
  
  function prev_part() {
      restaurant_parts[rnd_idx_list[curr_idx]].style.display="none";
    
      curr_idx--;
      if (curr_idx < 0) curr_idx = restaurant_parts.length - 1;
      
      restaurant_parts[rnd_idx_list[curr_idx]].style.display="inline";
  }
        
  function get_shuffle_arr2(list_length) {
      var idx_arr = [];
      for (var i = 0; i < list_length; i++) {
        idx_arr.push(i);
      }
      console.log(idx_arr);
      
      var j, x, i;
      for (i = list_length; i; i--) {
          j = Math.floor(Math.random() * i);
          x = idx_arr[i - 1];
          idx_arr[i - 1] = idx_arr[j];
          idx_arr[j] = x;
      }
      console.log(idx_arr);
      
      return idx_arr;
  }
</script>

<div style="display: none;" id="result_part_display" >
  <div id="part_display_header">
    <span id="part_header_prev" style="float: left" onclick="prev_part()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev</span>
    <span id="part_header_tag"> How about this? </span>
    <span id="part_header_next" style="float: right" onclick="next_part()">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
  </div>
  
  
  <div>
     <% restaurants["businesses"].forEach(function(restaurant) { %>
      <div style="display: none;" class="part_single_restaur">
        <div class="part_restaur_img_block2">
          <img class="part_restaur_img_block" src="<%= restaurant["image_url"] %>">
        </div>
        
        <div >
        <div class="part_info part_restaur_name"><a href="<%= restaurant["url"] %>"><%= restaurant["name"] %></a></div>
        
        <div class="part_info" style="overflow: hidden; padding-bottom: 0.4em">
          <% var catCnt = 0 %>
          <% restaurant["categories"].forEach(function(cate) { %>
            <% catCnt++; if (catCnt <= 3) { %>
            <span class="label label-primary"><%= cate["alias"] %></span>
            <% } %>
          <% }) %>
        </div>
        
        <div class="restaur_stars part_info">
          <% if (restaurant["is_closed"]) { %>
            CLOSED
          <% } else { %>
            OPEN
          <% } %>
          
          <% for (var i = 0; i < 5; i++) { %>
            <% if (restaurant["rating"] <= i) { %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% } else if (restaurant["rating"] == i + 0.5) { %>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <% } else { %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% } %>
          <% } %>
        </div>
        
        <div class="part_info">Price: <%= restaurant["price"] %></div>
        <div class="part_info"><i class="fa fa-map-marker" aria-hidden="true"></i> 
          <%= restaurant["location"]["display_address"] %></div>
        <div class="part_info"><i class="fa fa-phone" aria-hidden="true"></i> 
          <%= restaurant["display_phone"] %></div>
        </div>
      </div>
      
      <div></div>
    <% }) %> 
  </div>
  
</div>

<div id="map_half">
  <div id="map"></div>     
</div>

</div>

<% } %>

<script>
var markers = [];

function initMap() {
  initAutoComplete();
  
  <%if (restaurants["total"] > 0) { %>
    
  var uluru = {
          
          lat: <%= restaurants["businesses"][0]["coordinates"]["latitude"] %>,
          lng: <%= restaurants["businesses"][0]["coordinates"]["longitude"] %>
  };     

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: uluru
  });

  <% restaurants["businesses"].forEach(function(restaurant) { %>
    var latLng = {lat: <%= restaurant["coordinates"]["latitude"] %>,
                  lng: <%= restaurant["coordinates"]["longitude"] %>
    };
    
    var marker = new google.maps.Marker({
        position: latLng,
        map: map
    });
    
    markers.push(marker);
        
  <% }) %> 
  
  var selector = document.getElementsByClassName('single_restaur');
  for(var i = 0; i < selector.length; i++) {
    var index = selector[i] //get the nth-child number here
    if(index){
      //index.addEventListener("mouseover", func.bind(i));
      //index.addEventListener("mouseout", func2.bind(i));
    }
  }
  
  <% } else { %>
    
  <% } %>
      
} // end of initMap


function func() { 
  var i = this;
   markers[i].setAnimation(google.maps.Animation.BOUNCE);
}

function func2() { 
  var i = this;
  markers[i].setAnimation(null);
}


</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOBevkDWetQuaXUUlRZFGgkSdYrlDUuhk&libraries=places&callback=initMap">
</script>

<% include partials/footer %>