<% include partials/header %>

<% if (restaurants["businesses"].length > 0) { %>
<div id="list_and_map">

<div id="result_list_display" >
  <div class="list_container">
    <h1>Restaurant Results</h1>
    
    <% restaurants["businesses"].forEach(function(restaurant) { %>
      <div class="single_restaur">
        <div class="restaur_img_block">
          <img src="<%= restaurant["image_url"] %>">
        </div>
        
        <div class="restaur_name"><a href="<%= restaurant["url"] %>"><%= restaurant["name"] %></a></div>
        <div style="overflow: hidden; padding-bottom: 0.4em">
          <% var catCnt = 0 %>
          <% restaurant["categories"].forEach(function(cate) { %>
            <% catCnt++; if (catCnt <= 3) { %>
            <span class="label label-primary"><%= cate["alias"] %></span>
            <% } %>
          <% }) %>
        </div>
        
        <div class="restaur_stars">
          <% for (var i = 0; i < 5; i++) { %>
            <% if (restaurant["rating"] <= i) { %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% } else if (restaurant["rating"] == i + 0.5) { %>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <% } else { %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% } %>
          <% } %>
        </div>
      </div>
      
      <div></div>
    <% }) %> 
  </div>
</div>

<div id="map_half">
  <div id="map"></div>     
</div>

</div>

<% } %>

<script>
var markers = [];

function initMap() {
  initAutoComplete();
  
  <%if (restaurants["total"] > 0) { %>
    
  var uluru = {
          
          lat: <%= restaurants["businesses"][0]["coordinates"]["latitude"] %>,
          lng: <%= restaurants["businesses"][0]["coordinates"]["longitude"] %>
  };     

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: uluru
  });

  <% restaurants["businesses"].forEach(function(restaurant) { %>
    var latLng = {lat: <%= restaurant["coordinates"]["latitude"] %>,
                  lng: <%= restaurant["coordinates"]["longitude"] %>
    };
    
    var marker = new google.maps.Marker({
        position: latLng,
        map: map
    });
    
    markers.push(marker);
        
  <% }) %> 
  
  var selector = document.getElementsByClassName('single_restaur');
  for(var i = 0; i < selector.length; i++) {
    var index = selector[i] //get the nth-child number here
    if(index){
      //index.addEventListener("mouseover", func.bind(i));
      //index.addEventListener("mouseout", func2.bind(i));
    }
  }
  
  <% } else { %>
    
  <% } %>
      
} // end of initMap


function func() { 
  var i = this;
   markers[i].setAnimation(google.maps.Animation.BOUNCE);
}

function func2() { 
  var i = this;
  markers[i].setAnimation(null);
}


</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOBevkDWetQuaXUUlRZFGgkSdYrlDUuhk&libraries=places&callback=initMap">
</script>

<% include partials/footer %>